<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Adminor</title>
    <base href="{{config('angular.server')}}/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" >
      <tbody>
        <tr>
          <td>
            <img src="http://localhost:4200/assets/img/brand/logo.png" />
          </td>
        </tr>
        <tr>
          <td style="font-family: Verdana, sans-serif, 'Open Sans'">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat a velit sit amet accumsan. Duis placerat laoreet tellus finibus gravida. Duis lorem elit, pretium vel arcu at, cursus mattis mi. Donec vitae tincidunt nunc. Nam pharetra, leo id fringilla eleifend, diam velit molestie nunc, in luctus metus sapien id metus. Quisque tellus lacus, maximus a ante quis, blandit porttitor est. Quisque iaculis quam massa, eu ornare erat venenatis non. Nulla volutpat nisi purus, a tincidunt magna tempor vitae.</p>
            <p>
              <br><br><br><br><br><br>
              <a href="http://localhost:4200/password-recovery/1234567890123456789012345678901234567890">http://localhost:4200/password-recovery/1234567890123456789012345678901234567890</a>
              <br><br><br><br><br><br>
            </p>
          </td>
        </tr>
        <tr>
          <td style="font-family: Verdana, sans-serif, 'Open Sans';font-size: small;color:grey">
            Faucibus euismod leo viverra lectus torquent tortor porttitor porta mauris ultricies, tincidunt arcu nostra neque libero cum nisi nam feugiat pretium dictumst, habitasse vivamus maecenas aliquet massa facilisi sagittis pulvinar nunc. Curabitur viverra facilisi leo mauris feugiat magna eleifend dui eros, cubilia blandit mi tellus diam convallis aptent lectus molestie varius, lacinia venenatis consequat id lobortis tristique dictum malesuada. Nec est tellus eleifend habitasse placerat faucibus, erat parturient cubilia tortor tempus facilisi, convallis bibendum venenatis eu dictum.
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
<!-- main-body light-theme  -->